@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family:  "Roboto", sans-serif;
}
.navigation {
    display: flex;
    justify-content: space-between;
    background-color: #1c2833;
    align-items: center;
    height: 80px;
    padding: 0px 50px 0px 80px;
}
.h1-div {
    font-size: 20px;
    color: white;
}
.navigation ul {
    display: flex;
}
.navigation ul li {
   list-style-type: none;
   margin: 0  10px;
}
.navigation ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 9px 13px;
    border-radius: 5px;
    transition: 0.7s;
}
.navigation ul li a:hover, nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.424);
    
}
.menu-btn {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click  {
    display: none;
}

/* responsive work start */

@media only screen and (max-width: 940px) {
     .menu-btn {
        display: block;
     }
     nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #142a41;
        height: 100vh;
        width: 100%;
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s ease;
     }
     #click:checked ~ .menu-btn i::before{
        content: "\f00d";
     }
     #click:checked ~ ul {
        left: 0%;
     }
     .navigation ul li{
        margin: 50px 0;
     }
     .navigation ul li a {
        font-size: 22px;
     }
     .navigation ul li a:hover, .navigation ul li a.active{
        background: none;
        color: red;
     }
}

/*header section start code hare */

header {
    background-image: url(img/banner.jpg);
    height: 90vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* main first-section start code hare*/ 

.first-section {
    background-color: #142a41;
    padding-bottom: 100px;
}

#Our {
    text-align: center;
    color: white;
    padding: 50px 0;
    letter-spacing: 0.2em;
    font-size: 28px;
}

.section-div1 {
   width: 1100px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap:20px;
   margin: 0 auto;
}
.section2 {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.369);
    text-align: center;
    border-radius: 5px;
    padding: 30px 20px;
    border: 3px solid green;
}
.section2 i {
    font-size: 30px ;
}
.section2 h2 {
    margin: 10px 0;
}
.section2 p {
    font-weight: 500;
    margin-top: 20px;
}

/* main media section start code hare */ 

@media only screen and (max-width: 688px) {
    .section-div1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:10px;
        width: 100%;
    }
   
}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    .section-div1  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;
        width: 100%;
    }    
    
}

/* second section start code hare */

.second-section {
    background-color: #1a3f60;
    padding-bottom: 100px;
}

.smart {
    text-align: center;
    color: yellow;
    padding: 40px 0;
    font-size: 35px;
    letter-spacing: 0.2em;
}
#parent-section2 {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
    margin-bottom: 80px;
}

.single-div {
    color: white;
}
.single-div h5 {
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}
.single-div h2 {
    margin-bottom: 30px;
}
.single-div p {
    margin-bottom: 40px;
}
.single-div a {
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    font-size: 22px;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.6s;
}


/* second media section start code hare */
@media only screen and (max-width: 688px) {
     #parent-section2 {
    margin-left: 30px;
    margin-right: 30px;
    display: block;
}
   .img-div img {
        width: 100%;
    }
}

@media only screen and (min-width: 689px) and (max-width: 1400px) {
   #parent-section2 {
    margin-left: 70px;
    margin-right: 70px;
    display: block;
}
    #img-div img {
        width: 100%;
    }
}

/* third section start code hare */

.third-section {
    background-image: url(img/about-section.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}

#parent-section3 {
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
}
.smart-section3 {
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.div1 {
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.636);
    padding: 20px;
    background-color: white;
    border: 3px solid green;
}
.div1 h2 {
    font-size: 19px;
    padding: 10px 0 20px 0;
}
.smart-single-div {
    color: white;
    
}
.smart-single-div p {
    margin: 20px 0;
}
.smart-single-div a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-top: 20px;
    font-size: 600;
    background-color: yellow;
    border-radius: 6px;
    padding: 10px 30px;
}
/* third media section start code hare */

@media only screen and (max-width: 688px) {
    #parent-section3 {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}
.smart-section3 {
    display: grid;
    grid-gap:15px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

}

@media only screen and (min-width: 689px) and (max-width: 1099px) {
    #parent-section3 {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}

.smart-section3 {
    display: grid;
    grid-gap:15px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
}

}

/* four section start code hare */ 

#four-section {
    background-color: #1a3f60;
    padding: 100px 0;
}

.prant-section4 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
}

.single-section {
    display: block;
}
.single-section div img {
    width: 100%;
}
.single-section h2 {
    margin: 10px 0;
}

.ankor-section4 {
    text-align: center;
}
.ankor-section4 a {
    display: inline-block;
    margin: 15px 5px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    background-color: white;
}
.ankor-section4 i {
    color: black;
    font-size: 18px;
}
.single-section4-2 h2 {
    font-size: 28px;
    margin: 10px 0;
}
.single-section4-2 p {
    margin: 20px 0;
}
.single-section4-2 a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: large;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
}

/* four media section start code hare */
@media only screen and (max-width: 688px) {

.prant-section4 {
    display: block;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

}


@media only screen and (min-width: 689px) and (max-width: 1099px) {
   
.prant-section4 {
    display: block;
    color: white;
    margin-left: 70px;
    margin-right: 70px;
}
}

/* five section start code hare */ 

.five-section {
    background-image: url(img/contact.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.form-section {
    background-color: #2e357a;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border: 6px solid aqua;
    border-radius: 10px;
}

.form-section h2 {
    color: white;
    margin: auto;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 29px;
}

.form-section p {
    color: white;
    text-align: center;
    margin: 15px 0;
    letter-spacing: 0.1em;
}
.form-input {
    display: block;
    width: 100%;
    height: 35px;
    margin: 50px 0;
    background: none;
    color: white;
    outline: none;
    border: none;
    font-size: 17px;
    border-bottom: 3px solid aqua;
}
.form-input::placeholder {
    color: rgb(9, 178, 178);
}
 
.submit-BTN {
   display: block;
   margin: 0 auto;
   padding: 7px 40px;
   font-size: 20px;
   font-weight: 540;
   outline-style: ridge;
   border-radius: 20px;
   color: white;
   background: none;
   cursor: pointer;
   transition: 0.6s;
}

.submit-BTN:hover {
    background-color: #16213E;
}


/* five media section start code hare */

@media only screen and (max-width: 688px) {

.form-section {
    background-color: #2e357a;
    max-width: 90%;
    padding: 20px 30px;
    
}

}


@media only screen and (min-width: 689px) and (max-width: 1099px) {
   
.form-section {
    background-color: #2e357a;
    max-width: 90%;
    padding: 40px 50px;
    
}

}

/* six section start code hare */
.six-section {
    background-color: #03294a;
    padding: 100px 0;
}
.single-section6 {
    width: 140px;
    margin-left: 30px;
}
.single-section6 h2 {
    color: white;
}
.prant-section6 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 400px;
    margin-right: 400px;
    
}

legend > i {
    font-size: 25px;
    color: white;
    margin: 0 10px;
}
.items-section6 {
    border: 4px solid #26528F;
    padding: 20px;
}
.items-section6 h4 {
    color: white;
    font-size: 22px;
}
.items-section6 p {
    color: rgb(152, 147, 147);
}

/* five media section start code hare */

@media only screen and (max-width: 688px) {

    .prant-section6 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
    margin-right: 30px;
}

}


@media only screen and (min-width: 689px) and (max-width: 1099px) {
   
    .prant-section6 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70px;
    margin-right: 70px;
}

}

/* seven section start code hare */

.seven-section {
    background-color: white;
    padding: 100px 0;
}
.prent-section7 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center;
}

.single-section7 {
    
    margin-top: 20px;
    margin-left: 30px;
}
.single-section7 p {
    margin: 15px 0;
}

.single-section7 ul li {
    list-style-position: inside;
    margin-bottom: 10px;
    font-weight: 500;
}

.img-section7 {
    width: 100%;
}
.img-section7 img {
   width: 100%;
}

/* seven media section start code hare */

@media only screen and (max-width: 688px) {

    .prent-section7 {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
}
.img-section7 {
    margin-top: 20px;
}

}


@media only screen and (min-width: 689px) and (max-width: 1099px) {
   
    .prent-section7 {
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}
    .img-section7 {
    margin-top: 20px;
}
}

/* footer section start code hare */ 

